name: Packer Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  packer:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Packer
        run: |
          sudo apt-get update -y
          sudo apt-get install -y unzip
          curl -fsSL -o packer.zip https://releases.hashicorp.com/packer/1.8.4/packer_1.8.4_linux_amd64.zip
          unzip packer.zip
          sudo mv packer /usr/local/bin/
          packer --version

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "us-east-1" # Optionally include this if you're using a specific region

      - name: Run Packer Build
        run: |
          cd Packer_GITHUB_ACTION/Aws_Custom_AMI_Creation
          packer init ubuntu.pkr.hcl
          packer validate ubuntu.pkr.hcl
          packer build ubuntu.pkr.hcl